$add: '' !global
$addcard: '' !global
$alert: '' !global
$api: '' !global
$arrows: '' !global
$barChart: '' !global
$bell-outline: '' !global
$bell: '' !global
$blocked: '' !global
$calendar: '' !global
$check: '' !global
$checkbox: '' !global
$checkedbox: '' !global
$chevron_d: '' !global
$chevron_fl: '' !global
$chevron_fr: '' !global
$chevron_l: '' !global
$chevron_r: '' !global
$chevron_u: '' !global
$clone: '' !global
$closex: '' !global
$code: '' !global
$confirmed: '' !global
$connection: '' !global
$creditcard: '' !global
$custom-settings: '' !global
$data: '' !global
$dedicated_nav: '' !global
$dedicateddns: '' !global
$document: '' !global
$download: '' !global
$draghandle: '' !global
$edit: '' !global
$email: '' !global
$emptycircle: '' !global
$filledcircle: '' !global
$filter-mini: '' !global
$filterchain: '' !global
$folder: '' !global
$gear-stroked: '' !global
$geo-graph: '' !global
$geolocation: '' !global
$help: '' !global
$hide: '' !global
$history: '' !global
$host: '' !global
$id: '' !global
$identity: '' !global
$info: '' !global
$integrations: '' !global
$integrations_nav: '' !global
$interface: '' !global
$line-graph: '' !global
$link: '' !global
$lock: '' !global
$medical: '' !global
$megaphone: '' !global
$menu: '' !global
$monitor: '' !global
$monitors_nav: '' !global
$newtab: '' !global
$note: '' !global
$pausecircle: '' !global
$playcircle: '' !global
$plug: '' !global
$pulsar: '' !global
$pulsar_nav: '' !global
$records: '' !global
$search: '' !global
$settings: '' !global
$shield: '' !global
$show: '' !global
$slash: '' !global
$slider_off: '' !global
$slider_on: '' !global
$spinner: '' !global
$teams: '' !global
$technology: '' !global
$timeout: '' !global
$timespan: '' !global
$toolbox: '' !global
$transfers: '' !global
$trash: '' !global
$triangle_d: '' !global
$triangle_u: '' !global
$unlocked: '' !global
$updown: '' !global
$usage: '' !global
$user: '' !global
$warning: '' !global
$whats-this: '' !global
$zones: '' !global
$zones_nav: '' !global
            @font-face {
            font-family: "icons";
            src: url("/eot");
            src: url("/iconfont.eot?#iefix") format("embedded-opentype"),
                 url("/iconfont.woff") format("woff"),
                 url("/iconfont.ttf") format("truetype"),
                 url("/iconfont.svg#iconfont") format("svg");
            font-weight: normal;
            font-style: normal;
          }
          .icon::before{
            vertical-align: middle;
            font-family: "icons"!important;
            display: inline-block;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            padding: 0 4px;
            line-height: 1;
            font-size: 18px;
            text-decoration: inherit;
            text-rendering: optimizeLegibility;
            text-transform: none;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
          }
        