$breakdownwidth: 800px!global;
*:focus, *:active, *:focus{
  outline:0!important;
}
body {
  overflow-y: scroll
}
.bunder-container{
  width: 98%;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0px 1%;
}
@keyframes blink {50% { color: transparent }}
.loader-dot { animation: 1s blink infinite }
.loader-dot:nth-child(2) { animation-delay: 250ms }
.loader-dot:nth-child(3) { animation-delay: 500ms }
.loader{
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  span.loader-dot{
    position: relative;
    top: -5px;
    line-height: 10px;
    font-size: 30px;
  }
}

@import './colors.scss';
@import './reboot.scss';
@import './themes.scss';
@import './flex-grid.scss';
@import './z-index.scss';
@import './icons.scss';
@import './buttons.scss';

@import './iconfont.css';
