$breakdownwidth: 800px!global;
*:focus, *:active, *:focus{
  outline:0!important;
}
body {
  overflow-y: scroll
}
.bunder-container{
  width: 98%;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0px 1%;
}
@import './colors.scss';
@import './reboot.scss';
@import './themes.scss';
@import './flex-grid.scss';
@import './z-index.scss';
@import './icons.scss';
@import './iconfont.css';
