@import "./colors.scss";
@import "./themes.scss";
$breakdownwidth: 800px!global;
*:focus, *:active, *:focus{
  outline:0!important;
}
body {
  overflow-y: scroll
}
.bunder-container{
  width: 98%;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0px 1%;
}
@keyframes blink {50% { color: transparent }}
.loader-dot { animation: 1s blink infinite }
.loader-dot:nth-child(2) { animation-delay: 250ms }
.loader-dot:nth-child(3) { animation-delay: 500ms }
.loader{
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  span.loader-dot{
    position: relative;
    top: -5px;
    line-height: 10px;
    font-size: 30px;
  }
}
.bunder-container{
  font-size: 14px;
  h1:not(.page-header), h2, h3{
    margin: 0 0 20px 0;
    padding: 0;
  }
  .page-header{
    h1, h2, h3{
      margin: 0;
      padding: 0;
    }
  }
  h1{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 30px;
    &.no-margin{
      margin-bottom: 0px;
    }
  }
  h2{
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 24px;
  }
  h3{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 20px;
  }
  p{
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
  }
  form, .form-container{
    h1{
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 0px!important;
    }
    h2{
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 11px;
      text-transform: uppercase;
      margin-bottom: 0px!important;
    }
    .text-input ~ h1, 
    .text-input ~ h2{
      margin-top: 20px;
    }
  }
  .tabs > ul > li {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
  }
  .tabs .tabs-body h3{
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .enclosure{
    &>.header{
      // padding: 5px 8px;

      span:not(.icon):not(.spacer){
        font-family: "Montserrat";
        font-size: 15px;
        line-height: 18px;
        padding-left: 5px;
        font-weight: 300;
        h5{
          font-size: 12px;
        }
      }
      span:not(.icon):not(.description){
        font-weight: 600;
      }
      .icon:not(.chevron_r){
        font-size: 18px;
        line-height: 18px;
      }
      .icon.chevron_r:before{
        font-size: 10px;
        line-height: 10px;
      }
      .spacer{
        flex: .25 0 0;
      }
    }
    &.sidebar{
      .header{
        span:not(.icon):not(.description){
          font-weight: 500;
          font-size: 11px;
          line-height: 11px;
          text-transform: uppercase;
          padding-left: 0px;
        }
      }
    }
    .body{
      .header{
        &.gray *{
          color: $mediumgray-primary-light; 
        }
        &.big{
          font-size: 18px;
        }
        &.lowercase{
          text-transform: none; 
        }
        font-family: "Montserrat";
        font-size: 11px;
        font-weight: 500;
        line-height: 20px;
        vertical-align: middle;
        text-transform: uppercase;
        h3{
          text-transform: none;
          font-size: 18px;
        }
      }
    }
  }
  .enclosure{
    .header{
        span.description{
          font-weight: 300;
        }
    }
  }
  .item-row{
    align-items: center;
    h4{
      line-height: 16px;
      font-size: 16px;
      font-family: "Open Sans";
      @include themify($themes) {
        color: themed('h4');
      }
      font-weight: 600;
    }
  }
  .pill{
    font-family: "Montserrat";
    &.small{
      font-weight: 500;
      line-height: 11px;
      font-size: 11px;
      .icon{
        margin-right: 0px;
      }
      .icon:before{
        font-size: 11px;
        padding: 0px;
        line-height: 11px;
        height: 11px;
        margin-top: -3px;
      }
      .chevron{
        font-size: 6px;
        line-height: 11px;
        vertical-align:middle;
        padding-left: 3px;
      }
    }
    &.large{
      vertical-align: bottom;
      font-size: 26px;
      .shrink{
        font-size: 16px;
      } 
    }
    &.medium{
      vertical-align: bottom;
      font-size: 18px;
    }
  }
  .checkbox-label{
    font-size: 12px;
    padding-top:2px;
    line-height: 1;
    font-family: "Open Sans";
    font-weight: 600;
  }
  .namespan{
    font-size: 12px;
    line-height: 1;
    font-family: "Open Sans";
    font-weight: 600;
  }
  strong, b{
    font-weight: 600;
    font-family: "Open Sans";
  }
  .caps {
    text-transform: uppercase;
  }
  .narrow{
    font-weight: 100;
    font-size: 70%;
  }
}
.bunder-modal{
  font-family: "Open Sans", sans-serif;
  header{
    h1, h2, h3, h4{
      font-size: 18px;
      font-weight: 600;
    }
    padding-bottom: 10px;
  }
  p{
    font-weight: 300; 
    font-size: 14px;
  }
}
@media screen and (max-width: 650px) {
  .bunder-container{
    .tabs > ul > li {
      font-size: 11px;
      i{
        display: none;
      }
    }
  }
}


@import './colors.scss';
@import './reboot.scss';
@import './themes.scss';
@import './flex-grid.scss';
@import './z-index.scss';
@import './icons.scss';
@import './buttons.scss';

@import './iconfont.css';
