@import './colors';

$themes: (
  light: (
    alwaysDarkText: black,
    graphTooltipBackground: white,
    backgroundColor: $body-bg,
    textColor: #000,
    invertTextColor: #ddd,
    lightText: #ddd,
    lightPanelBackground: #FFFFFF,
    panelLine: #CCCCCC,
    bluePill: $blue-secondary,
    containerBackground: $white-background,
    containerHover: $white-background,
    containerLink: $gunmetal-secondary,
    ddMenuBackground: $white-background,
    ddMenuBoxShadow: 0 2px 5px 0 #A0A0A0,
    ddMenuButtonBorder: 1px solid $tab-hover-background,
    ddMenuButtonBoxShadow: inset 0 2px 6px 0 $tab-hover-background,
    ddMenuFocusText: $light-dd-text,
    ddMenuHoverBackground: $tab-hover-background,
    ddMenuHoverText: #000,
    ddMenuText: $light-dd-text,
    dotsText: #000,
    dotsActiveShadow: inset 0 2px 6px 0 $tab-hover-background,
    dotsHoverBackground: #E8EBED,
    h4: $gunmetal-secondary,
    headerBackground: $topnav-background,
    headerNavActive: $gunmetal-secondary,
    headerNavHover: $ns1-magenta-primary,
    inputCheckboxColor: transparent,
    inputColor: $input-color,
    lightInputColor: #fff,
    itemRowBackground: #fff,
    itemRowLink: #555B6E,
    modalBackground: $modal-background,
    modalBoxShadow: $white-background,
    pageHeaderText: $mediumgray-primary-light,
    primaryButtonBackground: $ns1-magenta-primary,
    primaryButtonBorder: $ns1-magenta-primary,
    primaryButtonHoverBackground: $darkmagenta-primary,
    primaryButtonHoverBorder: $darkmagenta-primary,
    primaryButtonHoverText: $white-text,
    primaryButtonText: $white-text,
    secondaryButtonBackground: $white-background,
    secondaryButtonBorder: $ns1-magenta-primary,
    secondaryButtonColor: #ed1670,
    secondaryButtonHoverBackground: $ns1-magenta-primary,
    secondaryButtonHoverText: $white-text,
    secondaryButtonText: $ns1-magenta-primary,
    tabActiveBackground: $tab-active-background,
    tabActiveText: $tab-active-text,
    tabBackground: $tab-background,
    tabText: $tab-text,
    tertiaryButtonBackground: transparent,
    tertiaryButtonBorderColor: $ccc-border,
    tertiaryButtonHoverBackground: transparent,
    tertiaryButtonHoverText: $ns1-magenta-primary,
    tertiaryButtonText: $black-text,
    transparent: transparent,
    transparentSecondaryButton: transparent,
    inputBackground: $white-background,
    labelText: $black-text,
    notifyText: $black-text,
    notifyBackground: $white-background,
    dashMapBg: $white-background,
    dashMapSidebarBg: rgba(255, 255, 255, .7),
    dashMapSidebarText: #000,
    mapBg: $superlight-bs,
    mapSectionBg: #ccc,
    toggleInactiveBackground: $white-primary-dark,
    mapConfig: rgba(255,255,255,.8),
    filterPillBackground: $lightgray-bs,
    filterPillLabelText: $mediumgray-primary-light,
    grayPill: $pill-back-gray,
    grayPillText: $black-text,
    grayPillBoxShadow: 0px 3px 7px 0px rgba(128, 128, 128, 0.5),
    pipeColor: $pipe-color,
    blackPill: $black-background,
    blackPillText: $white-text,
    popupHeaderBackground: #E8EBED,
    popupHeaderText: #15181D,
    paginationText: #40495B,
    paginationHoverText: $tab-hover-text,
    paginationActiveText: $white-text,
    paginationActiveBackground: $tab-hover-background,
    containerHeader: $black-background,
    iconColor: $white-text,
    iconColorInverse: $black-text,
    loginBorder: 1px solid #e4e4e4,
    loginBg: #f4f4f4,
    grayBar: $medium-cool-gray,
    scroll: $medium-gray,
    donutLine: $coolgray-bs,
    donutSquare: $white-background,
    selectedItemBackground: $lightgray-bs,
    selectedItemText: black,
    loadingEmptyText: $mediumgray-primary-light,
    loadingEmptyLink: black,
    integrationsChip: transparent,
    subnavBackground: white,
    subnavLink: $mediumgray-primary-light,
    ipamH5: white,
    tooltipBackground: white,
    tooltipText: black,
    tooltipShadow: #ccc,
    cardbg: white,
    multiBack: $super-light-gray
  ),
  dark: (
    alwaysDarkText: black,
    graphTooltipBackground: black,
    selectedItemBackground: $dark-gray,
    selectedItemText: $tab-active-text,
    backgroundColor: $body-bg-dark,
    lightPanelBackground: #FFFFFF,
    panelLine: #CCCCCC,
    donutLine: black,
    donutSquare: $white-background,
    grayBar: $lightgray-bs,
    scroll: $medium-cool-gray,
    loginBorder: 1px solid $darkgray-primary,
    loginBg: $darkgray-primary,
    iconColor: #ddd,
    iconColorInverse: #ddd,
    paginationText: #9AA4AE,
    paginationHoverText: $darkgray-primary,
    paginationActiveText: $darkgray-primary,
    paginationActiveBackground: #9AA4AE,

    notifyText: $black-text,
    notifyBackground: $black-background,
    popupHeaderBackground: #252A33,
    popupHeaderText: #F7F9FA,
    blackPill: $gunmetal,
    blackPillText: #f3f5f6,
    pipeColor: $super-light-gray,
    mapConfig: rgba(21,24,29,.8),
    toggleInactiveBackground: $super-dark-gray,
    dashMapBg: #15181D,
    dashMapSidebarBg: transparent,
    dashMapSidebarText: $super-light-gray,
    mapBg: $body-bg-dark,
    mapSectionBg: #15181D,
    labelText: $white-text,
    inputBackground: $white-background,
    bluePill: $gunmetal,
    grayPill: $gunmetal,
    grayPillText: #f3f5f6,
    grayPillBoxShadow: 0,
    filterPillBackground: #15181D,
    filterPillLabelText: #B8C2CC,
    containerHeader: #252A33,
    containerBackground: $super-dark-container-gray,
    containerHover: $dark-gray-row-mouseover,
    containerLink: $white-text,
    ddMenuBackground: $super-dark-gray,
    ddMenuBoxShadow: 0 1px 5px 0 #000000,
    ddMenuButtonBorder: 0,
    ddMenuButtonBoxShadow: 0 1px 5px 0 #000000,
    ddMenuFocusText: $dark-dd-text,
    ddMenuHoverBackground: $dark-dd-background-hover,
    ddMenuHoverText: #F7F9FA,
    ddMenuText: $dark-dd-text,
    dotsText: #ccc,
    dotsActiveShadow: 0,
    dotsHoverBackground: transparent,
    h4: $super-light-gray,
    headerBackground: $super-dark-container-gray,
    headerNavActive: $header-nav-active,
    headerNavHover: $header-nav-hover,
    inputCheckboxColor: #fff,
    inputColor: $dark-input-color,
    lightInputColor: #fff,
    itemRowBackground: $super-dark-gray,
    itemRowLink: $ns1-magenta-primary,
    modalBackground: $super-dark-gray,
    modalBoxShadow: 0,
    pageHeaderText: $mediumgray-primary-light,
    primaryButtonBackground: transparent,
    primaryButtonBorder: $gray,
    primaryButtonHoverBackground: transparent,
    primaryButtonHoverBorder: $super-light-gray,
    primaryButtonHoverText: $super-light-gray,
    primaryButtonText: $super-light-gray,
    secondaryButtonBackground: transparent,
    secondaryButtonBorder: $gray,
    secondaryButtonColor: $white-text,
    secondaryButtonHoverBackground: transparent,
    secondaryButtonHoverText: $super-light-gray,
    secondaryButtonText: $super-light-gray,
    tabActiveBackground: $dark-gray,
    tabActiveText: $tab-active-text,
    tabBackground: $super-dark-gray,
    tabText: $super-light-gray,
    tertiaryButtonBackground: transparent,
    tertiaryButtonBorderColor: $gray,
    tertiaryButtonHoverBackground: transparent,
    tertiaryButtonHoverText: $white-text,
    tertiaryButtonText: $white-text,
    textColor: #ddd,
    lightText: #ddd,
    invertTextColor: #000,
    transparent: transparent,
    transparentSecondaryButton: transparent,
    loadingEmptyText: $mediumgray-primary-light,
    loadingEmptyLink: $super-light-gray,
    integrationsChip: $super-light-gray,
    subnavBackground: $dark-gray,
    subnavLink: white,
    ipamH5: #15181D,
    tooltipBackground: #555B6E,
    tooltipText: white,
    tooltipShadow: transparent,
    cardbg: #24272D
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
